<section class="pb-5">
  <div class="container mx-auto pb-5 mb-4 ">
    <div class="row mtn px-3">
      <div class="col-lg-8 col-12 bg-white rounded">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav border-bottom px-1">
          <li [ngbNavItem]="1" [class.active]="active ==1" class="nav-item mx-3 active">
            <a ngbNavLink class="nav-link py-3" href="#">Contents</a>
            <ng-template ngbNavContent>First content</ng-template>
          </li>
          <li [ngbNavItem]="2" [class.active]="active ==2" class="nav-item mx-3">
            <a ngbNavLink class="nav-link  py-3" href="#">Description</a>
            <ng-template ngbNavContent>second content</ng-template>
          </li>
          <li [ngbNavItem]="3" [class.active]="active ==3" class="nav-item mx-3">
            <a ngbNavLink class="nav-link  py-3" href="#">Reviews</a>
            <ng-template ngbNavContent>third content</ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
</section>
