<section class="pb-5">
  <div class="container mx-auto pb-5 mb-4 ">
    <div class="row mtn px-3">
      <div class="col-lg-8 col-12 bg-white rounded">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav border-bottom px-1">
          <li [ngbNavItem]="1" [class.active]="active ==1" class="nav-item mx-4 active">
            <a ngbNavLink class="nav-link py-3" href="#">Contents</a>
            <ng-template ngbNavContent>
                <section *ngFor="let season of mockSeasons;let i=index">
                  <div [class.c-pt]="i!=0" class="c-pb collapse__title d-flex align-items-center" (click)="handleToggle(i)" [attr.aria-expanded]="!collapse[i]" aria-controls="collapseExample">
                    <span>{{season.season}}</span><span [ngStyle]="{'transform':(collapse[i])? 'rotate(0deg)':'rotate(180deg)'}" class="fas fa-chevron-down ml-auto"></span>
                  </div>
                  <section class="collapse--hover">
                    <div class="pb-2" [(ngbCollapse)]='collapse[i]'>
                      <p class="mb-2 d-flex align-items-center" *ngFor="let lesson of season.lessons">
                        <i class="fas fa-play mr-2"></i>
                        <span class="pl-1">{{lesson.name}}</span>
                        <span class="ml-auto">{{lesson.time}}</span>
                      </p>
                    </div>
                    <div [class.pt-1]="collapse[i]==false" class="border-bottom"></div>
                  </section>
                </section>
            </ng-template>
          </li>
          <li [ngbNavItem]="2" [class.active]="active ==2" class="nav-item mx-4">
            <a ngbNavLink class="nav-link  py-3" href="#">Description</a>
            <ng-template ngbNavContent>
              <div class="nav__description">
                <h3 class="mb-2">Course Descriptions</h3>
                <p class="text-color">If you’re learning to program for the first time, or if you’re coming from a different language, this course, JavaScript: Getting Started, will give you the basics for coding in JavaScript. First, you'll discover the types of applications that can be built with JavaScript, and the platforms they’ll run on.</p>
                <br>
                <p class="text-color">Next, you’ll explore the basics of the language, giving plenty of examples. Lastly, you’ll put your JavaScript knowledge to work and modify a modern, responsive web page. When you’re finished with this course, you’ll have the skills and knowledge in JavaScript to create simple programs, create simple web applications, and modify web pages.</p>
                <h4 class="mt-4 mb-3">What you’ll learn</h4>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="d-flex mb-2">
                      <span class="far fa-check-circle text-success mt-2 mr-2"></span>
                      <p>Recognize the importance of understanding your objectives when addressing an audience.</p>
                    </div>
                    <div class="d-flex mb-2">
                      <span class="far fa-check-circle text-success mt-2 mr-2"></span>
                      <p>Identify the fundaments of composing a successful close.</p>
                    </div>
                    <div class="d-flex mb-2">
                      <span class="far fa-check-circle text-success mt-2 mr-2"></span>
                      <p>Explore how to connect with your audience through crafting compelling stories.</p>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="d-flex mb-2">
                      <span class="far fa-check-circle text-success mt-2 mr-2"></span>
                      <p>Examine ways to connect with your audience by personalizing your content.</p>
                    </div>
                    <div class="d-flex mb-2">
                      <span class="far fa-check-circle text-success mt-2 mr-2"></span>
                      <p>Break down the best ways to exude executive presence.</p>
                    </div>
                    <div class="d-flex mb-2">
                      <span class="far fa-check-circle text-success mt-2 mr-2"></span>
                      <p>Explore how to communicate the unknown in an impromptu communication.</p>
                    </div>
                  </div>
                </div>
              </div>  
            </ng-template>
          </li>
          <li [ngbNavItem]="3" [class.active]="active ==3" class="nav-item mx-4">
            <a ngbNavLink class="nav-link  py-3" href="#">Reviews</a>
            <ng-template ngbNavContent>third content</ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="py-4 px-4"></div>
      </div>
    </div>
  </div>
</section>