<section>
  <div class="container mx-auto ">
    <div class="row mtn px-3">
      <div style="height: 100%;" class="col-lg-8 col-12 bg-white rounded">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav border-bottom px-1">
          <li [ngbNavItem]="1" [class.active]="active ==1" class="nav-item mx-4 active">
            <a ngbNavLink class="nav-link py-3" href="#">Contents</a>
            <ng-template ngbNavContent>
                <section *ngFor="let season of mockSeasons;let i=index">
                  <div [class.c-pt]="i!=0" class="c-pb collapse__title d-flex align-items-center" (click)="handleToggle(i)" [attr.aria-expanded]="!collapse[i]" aria-controls="collapseExample">
                    <span>{{season.season}}</span><span [ngStyle]="{'transform':(collapse[i])? 'rotate(0deg)':'rotate(180deg)'}" class="fas fa-chevron-down ml-auto"></span>
                  </div>
                  <section class="collapse--hover">
                    <div class="pb-2" [(ngbCollapse)]='collapse[i]'>
                      <p class="mb-2 d-flex align-items-center" *ngFor="let lesson of season.lessons">
                        <i class="fas fa-play mr-2"></i>
                        <span class="pl-1">{{lesson.name}}</span>
                        <span class="ml-auto">{{lesson.time}}</span>
                      </p>
                    </div>
                    <div [class.pt-1]="collapse[i]==false" class="border-bottom"></div>
                  </section>
                </section>
            </ng-template>
          </li>
          <li [ngbNavItem]="2" [class.active]="active ==2" class="nav-item mx-4">
            <a ngbNavLink class="nav-link  py-3" href="#">Description</a>
            <ng-template ngbNavContent>
              <div class="nav__description">
                <h3 class="mb-2">Course Descriptions</h3>
                <p class="text-color">If you’re learning to program for the first time, or if you’re coming from a different language, this course, JavaScript: Getting Started, will give you the basics for coding in JavaScript. First, you'll discover the types of applications that can be built with JavaScript, and the platforms they’ll run on.</p>
                <br>
                <p class="text-color">Next, you’ll explore the basics of the language, giving plenty of examples. Lastly, you’ll put your JavaScript knowledge to work and modify a modern, responsive web page. When you’re finished with this course, you’ll have the skills and knowledge in JavaScript to create simple programs, create simple web applications, and modify web pages.</p>
                <h4 class="mt-4 mb-3">What you’ll learn</h4>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="d-flex mb-2">
                      <span class="far fa-check-circle text-success mt-2 mr-2"></span>
                      <p>Recognize the importance of understanding your objectives when addressing an audience.</p>
                    </div>
                    <div class="d-flex mb-2">
                      <span class="far fa-check-circle text-success mt-2 mr-2"></span>
                      <p>Identify the fundaments of composing a successful close.</p>
                    </div>
                    <div class="d-flex mb-2">
                      <span class="far fa-check-circle text-success mt-2 mr-2"></span>
                      <p>Explore how to connect with your audience through crafting compelling stories.</p>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="d-flex mb-2">
                      <span class="far fa-check-circle text-success mt-2 mr-2"></span>
                      <p>Examine ways to connect with your audience by personalizing your content.</p>
                    </div>
                    <div class="d-flex mb-2">
                      <span class="far fa-check-circle text-success mt-2 mr-2"></span>
                      <p>Break down the best ways to exude executive presence.</p>
                    </div>
                    <div class="d-flex mb-2">
                      <span class="far fa-check-circle text-success mt-2 mr-2"></span>
                      <p>Explore how to communicate the unknown in an impromptu communication.</p>
                    </div>
                  </div>
                </div>
              </div>  
            </ng-template>
          </li>
          <li [ngbNavItem]="3" [class.active]="active ==3" class="nav-item mx-4">
            <a ngbNavLink class="nav-link  py-3" href="#">Reviews</a>
            <ng-template ngbNavContent>
              <div class="nav__description">
                <h3 class="mb-4">How students rated this courses</h3>
                <div class="row align-items-center">
                  <div class="rate-main col-auto pr-2 text-center">
                      <h1 class="rate-number font-weight-bold mb-3">4.5</h1>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <p class="mb-0 fs-6">(Based on 27 reviews)</p>
                  </div>
                  <!-- Progress bar -->
                  <div class="col pt-3 px-3 order-3 order-md-2">
                      <div class="progress mb-3" style="height: 6px;">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="progress mb-3" style="height: 6px;">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="progress mb-3" style="height: 6px;">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="progress mb-3" style="height: 6px;">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="progress mb-0" style="height: 6px;">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
                  <div class="rate-stars pl-3 col-md-auto col-6 order-2 order-md-3">
                      <!-- Rating -->
                      <div class="d-flex align-items-center">
                          <i class="fas fa-star me-n1 "></i>
                          <i class="fas fa-star me-n1 "></i>
                          <i class="fas fa-star me-n1 "></i>
                          <i class="fas fa-star me-n1 "></i>
                          <i class="fas fa-star me-n1 "></i>
                          <span class="ml-1">53%</span>
                      </div>
                      <div class="d-flex align-items-center">
                          <i class="fas fa-star me-n1 "></i>
                          <i class="fas fa-star me-n1 "></i>
                          <i class="fas fa-star me-n1 "></i>
                          <i class="fas fa-star me-n1 "></i>
                          <i class="fas fa-star me-n1 text-light"></i>
                          <span class="ml-1">36%</span>
                      </div>
                      <div class="d-flex align-items-center">
                          <i class="fas fa-star me-n1 "></i>
                          <i class="fas fa-star me-n1 "></i>
                          <i class="fas fa-star me-n1 "></i>
                          <i class="fas fa-star me-n1 text-light"></i>
                          <i class="fas fa-star me-n1 text-light"></i>
                          <span class="ml-1">9%</span>
                      </div>
                      <div class="d-flex align-items-center">
                          <i class="fas fa-star me-n1 "></i>
                          <i class="fas fa-star me-n1 "></i>
                          <i class="fas fa-star me-n1 text-light"></i>
                          <i class="fas fa-star me-n1 text-light"></i>
                          <i class="fas fa-star me-n1 text-light"></i>
                          <span class="ml-1">3%</span>
                      </div>
                      <div class="d-flex align-items-center">
                          <i class="fas fa-star me-n1 "></i>
                          <i class="fas fa-star me-n1 text-light"></i>
                          <i class="fas fa-star me-n1 text-light"></i>
                          <i class="fas fa-star me-n1 text-light"></i>
                          <i class="fas fa-star me-n1 text-light"></i>
                          <span class="ml-1">2%</span>
                      </div>
                  </div>
              </div>
              <hr style="margin: 2rem 0;">
              <h3>Reviews</h3>
              <form
                class="position-relative search-reviews mt-3"
              >
                <span class="position-absolute"><i class="fas fa-search"></i></span>
                <input name="search" type="search" [(ngModel)]="searchString" placeholder="Search Reviews" />
              </form>
              <div *ngFor="let mockReview of mockReviews | filter:searchString;let last=last" style="margin-top: 1.5rem;" [ngClass]="{'border-bottom':!last,'pb-4':!last,'mb-4':!last,'mb-3':last}" class="d-flex comments">
                <div>
                  <img src="{{mockReview.img}}" alt="">
                </div>
                <div class=" ml-3">
                  <h4 class="mb-1">
                      {{mockReview.name}}
                      <span class="ml-1 text-muted">{{mockReview.date}} Days ago</span>
                  </h4>
                  <div class="fs-6 mb-2">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                  </div>
                  <p style="line-height: 1.5rem;">{{mockReview.comment}}</p>
                  <div class="d-lg-flex mt-3 mb-1">
                      <p class="mb-1">Was this review helpful?</p>
                      <a href="#" class="mt-1 yes-btn ml-lg-3">Yes</a>
                      <a href="#" class="mt-1 no-btn ml-2">No</a>
                  </div>
              </div>
              </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="p-4"></div>
      </div>
<!----------->
<div class="col-lg-4 pl-lg-4 col-md-12 col-12 mn">
  <!-- Card -->
  <div class="card mb-3 mb-4">
      <div class="p-1">
          <div style="background-image: url('../{{cards[index].img}}')" class="youtube d-flex justify-content-center rounded border-white border" >
              <span class="d-flex  justify-content-center rounded-circle p-3"><i class="bi bi-play"></i></span>
          </div>
      </div>
      <!-- Card body -->
      <div class="card-body price-box p-4">
          <!-- Price single page -->
          <div class="mb-3">
              <span class="price">$600 </span>
              <del style="font-size: 16px;" class="del text-muted"> $750</del>
          </div>
          <div class="d-grid">
            <button class="w-100 mb-2 start">Start Free Month</button>
            <button class="w-100 getfull">Get Full Access</button>
          </div>
      </div>
  </div>

  <!-- Card -->
  <div class="card mb-4">
      <div class="whatsInclude">
          <!-- Card header -->
          <div class="card-header bg-white rounded">
              <h4 class="mb-0">What’s included</h4>
          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item bg-transparent"><i class="bi bi-play-circle align-middle mr-2 text-primary"></i>12 hours video</li>
              <li class="list-group-item bg-transparent"><i class="bi bi-award mr-2 align-middle text-success"></i>Certificate</li>
              <li class="list-group-item bg-transparent"><i class="bi bi-calendar align-middle mr-2 text-info"></i>12 Article
              </li>
              <li class="list-group-item bg-transparent"><i class="bi bi-camera-video align-middle mr-2 text-secondary"></i>Watch Offline</li>
              <li class="list-group-item bg-transparent border-bottom-0"><i class="bi bi-clock align-middle mr-2 text-warning"></i>Lifetime access</li>
          </ul>
      </div>
  </div>


  <!-- Card -->
  <div class="card">
      <!-- Card body -->
      <div class="card-body p-4">
          <div class="d-flex align-items-center">
              <div class="position-relative">
                  <img src="../{{cards[index].teacherImg}}" width="80px" height="80px" alt="" class="rounded-circle avatar-xl">
                  <a href="#" class="position-absolute mt-2 ml-n3" data-bs-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Verifed">
                      <img src="../assets/checked-mark.svg" alt="" height="30" width="30">
                  </a>
              </div>
              <div class="ml-4">
                  <h4 class="mb-1">{{cards[index].teacherName}}</h4>
                  <p class="mb-1 develop">Front-end Developer, Designer</p>
                  <span class="develop"><span class="text-warning">4.5</span><span class="fas fa-star text-warning mr-2"></span>Instructor Rating</span>
              </div>
          </div>

          <div class="border-top row mt-3 border-bottom mb-3 g-0">
              <div class="col">
                  <div class="pr-1 pl-2 py-3">
                      <h5 class="mb-1">11,604</h5>
                      <span style="color: #5c5776;">Students</span>
                  </div>
              </div>
              <div class="col border-left">
                  <div class="pr-2 pl-3 py-3">
                      <h5 class="mb-1">32</h5>
                      <span style="color: #5c5776;">Courses</span>
                  </div>
              </div>
              <div class="col border-left">
                  <div class="pr-1 pl-3 py-3">
                      <h5 class="mb-1">12,230</h5>
                      <span style="color: #5c5776;">Reviews</span>
                  </div>
              </div>
          </div>
          <p style="margin-bottom: 1rem;">I am an Innovation designer focussing on UX/UI based in Berlin. As a creative resident at Figma explored the city of the future and how new technologies.</p>
          <button class="viewDetails">View Details</button>
      </div>
  </div>
</div>
</div>
</div>
</section>