<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<footer class="border-top">
  <section class="d-flex justify-content-center flex-wrap row py-3">
      <div class="col-12 col-md-auto text-center">© 2021 Geeks. All Rights Reserved.</div>
      <div class="col-auto d-none d-md-block px-5 mx-5"></div>
      <div class="col-auto mx-2 links">Privacy</div>
      <div class="col-auto mx-2 links">Terms</div>
      <div class="col-auto mx-2 links">Feedback</div>
      <div class="col-auto mx-2 links">Support</div>
  </section>
</footer>
