<footer class="container mx-auto mt-md-5 border-top py-3 mt-1">
  <section class="d-flex flex-wrap row px-3">
    <div class="col-12 flex-sm-grow-1 col-md-auto text-center copyright text-md-left">
      © 2021 Geeks. All Rights Reserved.
    </div>
    <div class="d-inline-flex cont-links mx-auto flex-wrap justify-content-center">
      <div class="col-auto mx-3 links">Privacy</div>
      <div class="col-auto mx-3 links">Terms</div>
      <div class="col-auto mx-3 links">Feedback</div>
      <div class="col-auto support mx-3 links">Support</div>
    </div>
  </section>
</footer>
