@import '../../assets/ex';
footer{
    font-size: 110%;
    .links{
        transition: .2s;
        &:hover{
            cursor: pointer;
            color: $purple;
        }
    }
    @media only screen and(max-width:768px){
        .copyright{
            margin-bottom: 1em;
        }
    }
}