<div>
  <div class="card">
    <img src="../../assets/course-react.jpg" class="card-img-top" alt="..." />
    <div class="card-body pb-1">
      <h5 class="card-title">How to easily create a website with React</h5>
      <p class="card-text">
        <i class="far fa-clock"></i> 3h 56m
        <span class="ml-3 receptions"
          ><i class="bi bi-reception-4 holder"></i
          ><i class="bi bi-reception-2 value"></i
        ></span>
        <span class="ml-4">Beginner</span>
        <span class="span-block">
          <i class="fas fa-star text-warning"></i
          ><i class="fas fa-star text-warning"></i
          ><i class="fas fa-star text-warning"></i
          ><i class="fas fa-star text-warning"></i
          ><i class="fas fa-star text-warning"></i
          ><span class="votes text-warning ml-2">4.5 </span
          ><span class="people"> (13,245)</span>
        </span>
        <span class="span-block">
          <span class="font-weight-bold">$600</span
          ><span class="ml-1 del">$750</span>
        </span>
      </p>
    </div>
    <div class="card-footer">
      <img class="img-fluid" src="../../assets/avatar-1.jpg" />
      Morris Mccoy
      <span
        (click)="bookmark(b1)"
        #b1
        class="float-right mr-2"
        placement="top"
        ngbTooltip="Add to Bookmarks"
        tooltipClass="custom-tooltip"
      >
        <i class="far fa-bookmark"></i>
        <i class="d-none fas fa-bookmark"></i>
      </span>
    </div>
  </div>
</div>
