@import '../../../assets/ex';
footer{
    font-size: 100%;
    &>section>div{
        color: #5c5776 !important;
    }
    .links{
        transition: .2s;
        color: #5c5776;
        &:hover{
            cursor: pointer;
            color: $purple;
        }
    }
    @media only screen and(max-width:768px){
        .copyright{
            margin-bottom: .5em;
        }
    }
    
}
@media only screen and (max-width:375px){ 
    .support{
        margin-top: 1em;
    }
}