@import "../../../assets/ex";

nav{
  background-color: white;
  @media only screen and(max-width:992px){
    padding-bottom: 1.1em;
    padding-top:1.1em;
  }
  .logo {
    cursor: pointer;
  }
  padding: 12px 16px !important;
  
  
  .font-size-90{
    font-size: 11px !important;
    display: inline-block;
    background-color: #29baf9;
    @media only screen and (max-width:992px){
      padding-top: .1em;padding-bottom:.1em;
    }
  }

  .large-menu {
    margin-left: 1rem;
    & > li {
      display: inline;
      padding: 5px 5.6px;
      position: relative;
      cursor: pointer;
      transition: 0.2s;
      font-weight: 500;
      span {
        color: $black;
      }
      ul {
        display: block;
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: 0.3s ease-out;
        top: 200%;
        left: 0;
        visibility: hidden;
        background-color: white;
        border-radius: 0.5em;
        min-width: 250px;
        box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.1),
          -1px -1px 5px rgba($color: #000000, $alpha: 0.1);
        padding: 1em 0em;
        & > span {
          padding: .9em 1.4em 1.1em 1.4em;
          color: #a8a3b9;
          cursor: default;
          font-size: 11px;
          font-family: Inter;
          font-weight: 100;
          letter-spacing: 1px;
          opacity: .7;
        }
        li {
          padding: 0.5em 1em;
          transition: 0.2s;
          .fa-file-alt,
          .fa-layer-group {
            font-size: 20px;
            color: $purple;
          }
          b {
            margin-top: 0.5em;
            margin-bottom: 1em;
            display: inline-block;
          }
          span {
            color: rgba($color: #000000, $alpha: 0.5);
          }
          .version {
            color: $purple;
          }
        }
        hr {
          margin: 0;
        }
      }
      &:hover {
        color: $purple;
        & > ul {
          opacity: 1;
          visibility: visible;
          top: 99%;
          & > li {
            &:hover {
              background-color: rgba($color: $primary, $alpha: .6);
              color: $purple;
            }
          }
        }
      }
    }
  }
  
  .search-box {
    margin-left: 1rem;
    span {
      padding-left: 1rem;
    }
    input {
      border: 1px solid $secondary;
      color: $black;
      border-radius: 5px;
      padding: 12px 20px 12px 40px;
      font-size: .875rem;
      font-weight: 400;
      width: 264px;
      &:focus {
        outline: 5px solid rgba($color: $purple, $alpha: 0.3);
        border-color: $purple;
      }
    }
    @media only screen and (max-width: 992px) {
      width: 100%;
      padding-left: 0;
      margin-left: 0;
      input {
        width: 100%;
      }
    }
    .fa-search {
      color: $secondary;
    }
  }
  
  @mixin navItemHover {
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      color: $purple;
    }
  }
  
  .fa-ellipsis-h {
    @include navItemHover;
    ul {
      font-weight: normal;
    }
  }
 
  .nav-pannel {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    ul {
      li {
        display: inline-block;
        margin: 0 0.5em;
      }
    }
    .pannel-options {
      font-size: 20px;
      cursor: pointer;
      background-color: #f5f4f8;
      border-radius: 50%;
    }
    .notice-sign {
      width: 13px;
      height: 13px;
      background-color: #754ffe;
      border: 0.13em solid white;
      position: absolute;
      right: 0;
      top: 0;
    }
    .notific{
      width: 39px;
      height: 39px;
      position: relative;
      border-radius: 50%;
      &:hover{
        i{
          transition: .2s;
          color: $purple !important;}
      }
      i{
        transform: translate(13.5px,3px);
        font-size: 15px;
        color: $secondary;
      }
    }

    #dropdown-notice::after {
      display: none;
    }
    
    
    .online-sign {
      width: 13px;
      height: 13px;
      background-color: #19cb98;
      border: 0.13em solid white;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    
  
    .fa-bars {
      font-size: 20px;
  
      color: $purple;
      cursor: pointer;
    }
    .bars {
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      position: absolute;
      display: inline-flex;
      flex-direction: column;
      border-radius: 5px;
      border: 1px solid $purple;
      cursor: pointer;
      .me-bar {
        width: 15px;
        height: 2px;
        background-color: $purple;
        margin: 1px;
        border-radius: 5px;
        transition: 0.3s;
      }
    }
  }
  /*small menu*/
  
  .ul-block {
    padding: 1em 0;
    li {
      display: block;
      padding: 0.5em 0;
      span {
        float: right;
      }
      border-bottom: 1px solid $primary;
    }
  }
  .small-menu {
    padding: 1em 0;
    & > li {
      display: block;
      padding: 0.5em 0;
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        color: $purple;
      }
      border-bottom: 1px solid $primary;
      ul {
        display: none;
        margin: 1em 0.5em 0 0.5em;
        padding: 1em;
        border-radius: 1em;
        box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.1),
          -1px -1px 5px rgba($color: #000000, $alpha: 0.1);
        & > li {
          display: block;
          padding: 0.5em 0;
          transition: 0.2s;
          &:hover {
            cursor: pointer;
            color: $purple;
          }
        }
      }
    }
  }
}
.profile {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  cursor: pointer;
}
.dropdown-profile {
  top: -10px;
  right: 300px;
  font-size: 14px;
  &>div{

    border-radius: 1em;
    .profile-item {
      transition: 0.2s;
      .profile-img {
        width: 35px;
        height: 35px;
        margin-top: 0.5em;
        margin-left: 1em;
      }
    }
    .profile-item:hover {
      background-color: $primary;
      cursor: pointer;
    }
    & > section {
      margin: 0.4em 0;
      & > .information {
        margin-left: 3.5em;
        .email {
          color: $secondary;
        }
      }
      p {
        padding: 0.5em 1.5em;
        margin: 0;
      }
    }
    hr {
      margin: 0;
    }
  }
}
.dropdown-notice {
  &>div{border-radius: .5em;
  @media only screen and (min-width:992px){
    box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.2),
    -0px -0px 20px rgba($color: #000000, $alpha: 0.2);border: none;
  }
  }
  
  top: -10px;
  @media only screen and (max-width:622px){
    width: 95%;
    margin: auto;
  }
  @media only screen and(min-width:622px){
    width: 590px;
    margin-left: auto;
  }
  @media only screen and(min-width:992px){
    width: 351px;
    margin-left: auto;
    margin-right: 7vw;
  }
  .header-notice {
    font-size: 14px !important;
    font-weight: 500;
    &:hover .fa-cog {
      transition: .2s;
      color: $purple;
      cursor: pointer;
    }
  }
  .footer-notice {
    border-radius: 0 0 1em 1em;
    p {
      color: #5c5776;
      transition: 0.2s;
      font-size: 14px !important;
      &:hover {
        color: $purple;
      }
    }
    padding: 1em;
    cursor: pointer;
  }

  #box-notices {
    @include customScroll("&");
    max-height: 290px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 14px !important;
    & > div {
      padding: 1em 2em;
    }
    & > .row {
      &:hover {
        cursor: pointer;
        & .notic-text {
          transition: 0.2s;
          color: $purple;
        }
      }
    }
    & > .first-row {
      background-color: rgba($color: $primary, $alpha: .5);
    }
    img {
      width: 39px;
      height: 39px;
      border-radius: 50%;
    }
    .notice-date {
      color: $secondary;
      font-size: 12px !important;
    }
    .notic-circle {
      display: block;
    }
    .fa-circle {
      font-size: 9px;
      margin-top: 10px;
    }
    .bi-x{
      font-size: 17px;
    }
    .txt-info {
      color: #29baf9;
    }
  }
  hr {
    margin: 0;
  }
}