<div class="my-3 py-3"></div>
<article class="container">
  <h3 style="font-size: 24px;" class="ml-0 pb-1 mb-1">{{title}}</h3>
  <section class="row position-relative">
    <swiper
      class="px-3 pt-3 pb-2"
      [config]="config"
      [navigation]="true"
      [breakpoints]="{
        '0': {
          slidesPerView: 1
        },
        '768': {
          slidesPerView: 2
        },
        '992': {
          slidesPerView: 4
        }
      }"
      [autoplay]="{
        delay: 2500,
        disableOnInteraction: false
      }"
    >
      <ng-template swiperSlide *ngFor="let card of cards;let index=index"><a style="text-decoration: none;" routerLink="/course/{{index}}"><app-cards [card]='card'></app-cards></a></ng-template>
    </swiper>
    <span
      class="d-none d-md-inline custom-button-prev position-absolute fas fa-chevron-left rounded-circle"
    ></span>
    <span
      class="d-none d-md-inline custom-button-next position-absolute fas fa-chevron-right rounded-circle"
    ></span>
    <div class="d-inline-flex mb-1 d-md-none justify-content-center w-100">
      <span
        class="m-1 custom-button-prev fas fa-chevron-left rounded-circle"
      ></span>
      <span
        class="m-1 custom-button-next fas fa-chevron-right rounded-circle"
      ></span>
    </div>
  </section>
</article>
