<header>
  <div class="container mx-auto">
    <div class="row px-3">
      <div class="col-lg d-flex align-items-center mt-1">
        <div class="text-box mt-4">
          <h1>Welcome to Geeks UI Learning Application</h1>
          <p>
            Hand-picked Instructor and expertly crafted courses, designed for the
            modern students and entrepreneur.
          </p>
          <span class="">Browse Courses</span><span class="">Are You Instructor?</span>
        </div>
      </div>
      <div class="col-lg text-center">
        <img src="../../assets/hero-img.png" class="img-fluid" />
      </div>
    </div>
  </div>
</header>

<section class="intro">
  <div class="container mx-auto">
    <div class="row d-flex align-content-center flex-wrap py-4">
      <div class="d-inline-flex col-auto mr-5 align-items-center ml-3 mb-3 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center p-3 rounded-circle"><i class="bi bi-camera-video"></i></div>
        <p class="ml-3">
          <span class="title">30,000 online courses</span>
          <br />
          <span class="detail">Enjoy a variety of fresh topics</span>
        </p>
      </div>
    
      <div class="d-inline-flex col-auto mr-5 align-items-center ml-3 mb-3 py-1 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center p-3 rounded-circle"><i class="bi bi-people"></i></div>
        <p class="ml-3">
          <span class="title">Expert instruction</span>
          <br />
          <span class="detail">Find the right instructor for you</span>
        </p>
      </div>
    
      <div class="d-inline-flex col-auto mr-5 align-items-center ml-3 py-1 py-lg-0 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center p-3 rounded-circle"><i class="far fa-clock"></i></div>
        <p class="ml-3">
          <span class="title">Lifetime access</span>
          <br />
          <span class="detail">Learn on your schedule</span>
        </p>
      </div>
    </div>
  </div>
</section>