<div>
  <div class="card">
    <img src="{{card.img}}" class="card-img-top" alt="..." />
    <div class="card-body pb-1">
      <h5 class="card-title">{{card.title}}</h5>
      <p class="card-text">
        <i class="far fa-clock"></i> {{card.time}}
        <span class="ml-3 receptions"
          ><i class="bi bi-reception-4 holder"></i
          ><i [ngClass]="{'bi-reception-2': card.level === 1, 'bi-reception-3': card.level===2,'bi-reception-4':card.level===3}" class="bi value"></i
        ></span>
        <span class="ml-4">
          <ng-template [ngIf]="card.level==1">
            Beginner
          </ng-template>
          <ng-template [ngIf]="card.level==2">
            Intermediate
          </ng-template>
          <ng-template [ngIf]="card.level==3">
            Advance
          </ng-template>
        </span>
        <span class="span-block">
          <i class="fas fa-star text-warning"></i
          ><i class="fas fa-star text-warning"></i
          ><i class="fas fa-star text-warning"></i
          ><i class="fas fa-star text-warning"></i
          ><i class="fas fa-star text-warning"></i
          ><span class="votes text-warning ml-2">4.5 </span
          ><span class="people"> {{card.people}}</span>
        </span>
        <span class="span-block">
          <span class="font-weight-bold">$600</span
          ><span class="ml-1 del">$750</span>
        </span>
      </p>
    </div>
    <div class="card-footer">
      <img class="img-fluid" src="{{card.teacherImg}}" />
      {{card.teacherName}}
      <span
        (click)="bookmark=true"
        class="float-right mr-2"
        placement="top"
        ngbTooltip="Add to Bookmarks"
        tooltipClass="custom-tooltip"
      >
        <i *ngIf="!bookmark" class="far fa-bookmark"></i>
        <i *ngIf="bookmark" class="fas fa-bookmark"></i>
      </span>
    </div>
  </div>
</div>
