<header class="py-5">
  <div class="container mx-auto pb-3 mb-4">
    <div class="row px-2">
      <div class="col-lg-7 col-12 p-1">
        <h1 class="text-white mt-1 pb-2 mb-1">
          Getting Started with JavaScript
        </h1>
        <p class="text-white pb-4 lead mb-3">
          JavaScript is the popular programming language which powers web pages
          and web applications. This course will get you started coding in
          JavaScript.
        </p>
        <div class="row">
          <span class="header_detail text-white"
            ><i style="font-size: 11px;opacity: .6;"
              class="bi bi-bookmark text-white mr-1"
            ></i>
            Bookmark</span
          >
          <span class="header_detail text-white ml-3"
            ><i style="opacity:.6;" class="bi bi-person text-white"></i> 1200 Enrolled</span
          >
          <span class="header_detail text-white d-inline-block ml-4">
            <i class="fas fa-star text-warning"></i
            ><i class="fas fa-star text-warning"></i
            ><i class="fas fa-star text-warning"></i
            ><i class="fas fa-star text-warning"></i
            ><i class="fas fa-star text-warning"></i> (140)</span
          >
          <span class="text-white ml-4 d-none d-md-inline">
            <i style="font-size: 16px;opacity:.8;" class="bi bi-reception-3 text-white"></i>
            Intermediate</span
          >
        </div>
      </div>
    </div>
  </div>
</header>
